.form-control:focus,
.form-select:focus {
  border-color: #118b5083 !important;
  box-shadow: 0 0 0 0.25rem #118b508d;
}
  
.bg-a {
  background-color: #118b50;
}
.bg-b {
  background-color: #5db996;
}
.bg-c {
  background-color: #e3f0af;
}
.bg-d {
  background-color: #fbf6e9;
}

.text-a {
  color: #118b50;
}
.text-b {
  color: #5db996;
}
.text-c {
  color: #e3f0af;
}
.text-d {
  color: #fbf6e9;
}
